body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

#graph {
    width: 100%;
}
/*line chart value line*/

.chartline {
    fill: none;
    stroke-width: 2px;
}
/*standard axes*/

.axis {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
    /*    stroke-dasharray: 2, 2;*/
}

.legend {
    font-size: 12px;
    color: #333;
}

/*page elements*/
#tag a {
    font-size: 9px;
    /* float: right; */
    
    display: block;
    font-weight: 900;
    letter-spacing: 1.5pt;
    text-align: right;
    bottom: 0px;
    left: 180px;
    text-decoration: none;
    color: inherit;
}

#urban {
    color: #1696d2;
}

.charttitle {
    font-size: 16px;
    text-transform: uppercase;
}