.styled-select.filter select{
  pointer-events: none;
}
.styled-select select {
   background: transparent;
   width: 330px;
   height: 45px;
   padding-left: 10px;
   font: 16px Lato;
   color: #818385;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   pointer-events: none;
}
.styled-select select::-ms-expand {
 display: none !important;
}
.styled-select {
   width: 280px;
   height: 45px;
   overflow: hidden;
   background: url(../img/new_arrow.png) no-repeat right #EFEFEF;
   border: none;
   z-index: 2;
   position: fixed;
   overflow: hidden;
}
*:focus{
   outline: 0;
}