#valueScrubber div{
	font: 14px Lato;
	float: left;
}
#valueScrubber #leftValue{
	margin: 11px 10px 0px 0px;
}
#valueScrubber #rightValue{
	margin: 11px 0px 0px 10px;
}
#sliderTrack{
	fill: #c6c6c6;
	stroke: none;
}
#sliderHighlight{
	fill: #b0d5f1;
	stroke: none;
}
.thumb{
	fill: #1696d2;
	stroke: #1696d2;
	opacity: .8;
	cursor: pointer;
}