.button-page-list li {
    margin-bottom: 10px;
    list-style: none;
}

.urban-switch {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    border: none;
    color: #ffffff;
    display: inline-block;
    line-height: 12px;
    text-align: left;
    border-radius: 10px;
    padding-right: 10px;
}

.switch {
    background-image: url(../img/off-on.png);
    background-repeat: no-repeat;
    width: 52px;
    height: 18px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin-right: 9px;
    top: 4px;
    left: 4px;
    position: relative;
    border-radius: 8px;

    -webkit-transition:background-position .1s ease-in;  
    -moz-transition:background-position .1s ease-in;  
    -o-transition:background-position .1s ease-in;  
    transition:background-position .1s ease-in; 

}

.off {
    background-position: -31px 0px;
}

.on {
    background-position: 0px 0px;
}