<!DOCTYPE html>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../css/urban-buttons.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<style>
        body {
        font-family: "Lato", Arial, sans-serif;
</style>
<title>Urban Buttons</title>

<body>

    <div style="width:600px; margin:0 auto; position: relative; top: 60px;">
        <h1>Buttons</h1>
        <ul class="button-page-list">
            <li>
                <btn class="urban-button">Urban-Button</btn>
            </li>
            <li>
                <input type="radio" name="year-select" id="y2015" class="urban-radio" value="2015" checked="checked" />
                <label for="y2015" class="radio-label">Radio button 1</label>
            </li>
            <li>
                <input type="radio" name="year-select" id="y2013" class="urban-radio" value="2013" />
                <label for="y2013" class="radio-label">Radio button 2</label>
            </li>
            <li>
                <input type="radio" name="year-select" id="y2011" class="urban-radio" value="2011" disabled="disabled" />
                <label for="y2011" class="radio-label">Radio button disabled</label>
            </li>
            <li>
                <input type="checkbox" name="chage" id="age" class="urban-checkbox" value="age" checked="checked" />
                <label for="age" class="checkbox-label">Urban checkbox</label>
            </li>
            <li>
                <btn class="urban-tag">Urban-tag</btn>
            </li>
            <li>
                <div class="button-share"></div>
            </li>
            <li>
                <div class="button-facebook"></div>
            </li>
            <li>
                <div class="button-twitter"></div>
            </li>
            <li>
                <div class="button-linkedin"></div>
            </li>
            <li>
                <div class="button-email"></div>
            </li>
            <li>
                <div class="button-expand"></div>
            </li>
            <li>
                <div class="button-play"></div>
            </li>
            <li>
                <div class="scrolltotop"></div>
            </li>
            <li>
                <div class="scroll-down"></div>
            </li>
            <li>
                <div class="button-left"></div>
            </li>
            <li>
                <div class="button-right"></div>
            </li>
            <li>
                <div class="dropdown-sm"></div>
            </li>
            <li>
                <div class="close-sm"></div>
            </li>
        </ul>
</body>