<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chart examples</title>


    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">


    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/charts.css">
    <link rel="stylesheet" type="text/css" href="../css/urban-text.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Urban charts</h1>

                <h2>Line chart using long data</h2>
                <div id="linechart" class="graph"></div>

                <div id="tag">
                    <a href="http://www.urban.org/">
                        <span id="urban">URBAN</span>&nbsp;INSTITUTE</a>
                </div>

            </div>
        </div>
    </div>

    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/d3.min.js"></script>
    <script src="../lib/modernizr.svg.min.js"></script>

    <script src="../js/linechart-longdata.js"></script>

</body>

</html>