<!DOCTYPE html>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,600,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../css/logos.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<title> </title>

<body>

    <div style="width:100%; max-width:900px; margin:0 auto; position: relative; top: 60px;">
        <h1>Logos</h1>
        <ul class="logo-page-list">
            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo header-u"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo header-u"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white xsm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white xsm"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white sm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white sm"></a>
                </textarea>
            </li>
            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white md"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white md"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white lg"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white lg"></a>
                </textarea>
            </li>
            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-xsm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-xsm"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-sm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-sm"></a>
                </textarea>
            </li>
            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-md"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-md"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-lg"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-white-elevate elevate-lg"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white xsm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white xsm"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white sm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white sm"></a>
                </textarea>
            </li>
            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white md"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white md"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white lg"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white lg"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate elevate-xsm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate xsm"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate elevate-sm"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate sm"></a>
                </textarea>
            </li>
            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate elevate-md"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate elevate-md"></a>
                </textarea>
            </li>

            <li>
                <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate elevate-lg"></a>
                <textarea class="logo-code" rows="2" col="50">
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo black-white-elevate elevate-lg"></a>
                </textarea>
            </li>
        </ul>



        <div style="background:#000; width=100%; padding-top: 20px; padding-bottom: 20px">
            <ul class="logo-page-list">
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo header-u"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo header-u"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black xsm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black xsm"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black sm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black sm"></a>
                    </textarea>
                </li>
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black md"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black md"></a>
                    </textarea>
                </li>
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black lg"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black lg"></a>
                    </textarea>
                </li>


                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate elevate-xsm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate xsm"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate elevate-sm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate sm"></a>
                    </textarea>
                </li>
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate elevate-md"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate elevate-md"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate elevate-lg"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo blue-black-elevate elevate-lg"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black xsm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black xsm"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black sm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black sm"></a>
                    </textarea>
                </li>
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black md"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black md"></a>
                    </textarea>
                </li>
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black lg"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black lg"></a>
                    </textarea>
                </li>




                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate elevate-xsm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate xsm"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate elevate-sm"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate sm"></a>
                    </textarea>
                </li>
                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate elevate-md"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate elevate-md"></a>
                    </textarea>
                </li>

                <li>
                    <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate elevate-lg"></a>
                    <textarea class="logo-code" rows="2" col="50">
                        <a href="http://www.urban.org" title="Home" rel="home" class="logo white-black-elevate elevate-lg"></a>
                    </textarea>
                </li>
            </ul>
        </div>
    </div>
</body>