<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urban D3 Charts</title>


    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">


    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/charts.css">
    <link rel="stylesheet" type="text/css" href="../css/urban-text.css">


</head>

<body>
                <h1>Urban D3 Charts</h1>

                <h2>Simple blog-style bar chart</h2>

                        <div class="chartlabel">Value of the thing</div>
                        <div id="simplebar" class="graph"></div>
                        <div id="tag">
                            <a href="http://www.urban.org/">
                                <span id="urban">URBAN</span>&nbsp;INSTITUTE</a>
                        </div>
                    </div>
                </div>



    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/d3.min.js"></script>
    <script src="../lib/modernizr.svg.min.js"></script>

    <script src="../js/graphsconfig.js"></script>
    <script src="../js/legends.js"></script>
    <script src="../js/linechart-widedata.js"></script>
    <script src="../js/linechart-longdata.js"></script>
    <script src="../js/simplebar.js"></script>
    <script>
    $(document).ready(function(){
// depict command
// depict -w 10000 -d 500 http://urbaninstitute.github.io/code-snippets/templates/screenshot_test.html out.png
    setTimeout(function(){
        var vw = window.innerWidth/100
        d3.selectAll("h1").style("font-size",2.5*vw + "px")
        d3.selectAll("h2").style("font-size",1.6*vw + "px")
        d3.selectAll(".chartlabel").style("font-size",1*vw + "px")
        d3.selectAll(".valuetext").style("font-size",1*vw + "px")
        d3.selectAll(".tick text").style("font-size",1*vw + "px")
    },200);

    })
    </script>

</body>

</html>