<!DOCTYPE html>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../css/urban-text.css">
<link rel="stylesheet" href="../css/urban-switch.css">
<link rel="stylesheet" href="http://urbaninstitute.github.io/graphics-styleguide/css/color-column.css">

<title> </title>

<body>

    <div style="width:600px; margin:0 auto; position: relative; top: 60px;">
        <h1>Urban Switch</h1>
        <p>Similarly styled to the on/off switch for power search on urban.org</p>

        <ul class="button-page-list">
            <li>
                <p>Functional switch</p>
                <div class="urban-switch blue">
                    <div id="s1" class="switch on"></div>Urban-switch</div>
                <div id="onoff">Watch me change colors</div>
            </li>
        </ul>

        <script src="../lib/jquery.min.js"></script>
        <script src="../lib/d3.min.js"></script>
        <script src="../js/urban-switch.js"></script>
</body>