<!DOCTYPE html>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,600,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../css/urban-text.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<title> </title>

<body>

    <div style="width:100%; max-width:900px; margin:0 auto; position: relative; top: 60px;">
        <h1>Text Styles</h1>
        <p class="label">Labels</p>
        <h1>Large Headlines are H1</h1>
        <p class="byline">Author Names</p>
        <p class="date">Publication Date</p>
        <p class="intro-text">Article intro text is a p with a class of "intro-text." Lorem ipsum dolor sit amet, pellentesque rutrum lectus nunc metus sed sed. Magna et, pede fringilla dolor.</p>
        <p class="large-body">Large body text is a p with a class of "large-body." Lorem ipsum dolor sit amet, pellentesque rutrum lectus nunc metus sed sed. Magna et, pede fringilla dolor, vel amet per est justo, vel porttitor nulla nec, urna posuere fusce a sed id lectus. Varius odio pede non lectus, ante turpis. Ligula praesent eu nec aliquam interdum aliquet. Rutrum quisque lobortis, lacus dictum, fringilla cursus, orci urna lectus accumsan nulla interdum. Ultrices varius iaculis massa non vel. Eget nulla ligula wisi, consequat felis risus orci vestibulum maecenas nunc, nunc tincidunt vel.</p>
        <h2>Sub Headlines and Chapter Headers are H2</h2>
        <p>Normal body text is a standard p. <a href="#">Links are formatted like this.</a> Lorem ipsum dolor sit amet, pellentesque rutrum lectus nunc metus sed sed. Magna et, pede fringilla dolor, vel amet per est justo, vel porttitor nulla nec, urna posuere fusce a sed id lectus. Varius odio pede non lectus, ante turpis. Ligula praesent eu nec aliquam interdum aliquet. Rutrum quisque lobortis, lacus dictum, fringilla cursus, orci urna lectus accumsan nulla interdum. Ultrices varius iaculis massa non vel. Eget nulla ligula wisi, consequat felis risus orci vestibulum maecenas nunc, nunc tincidunt vel. Felis curae nam eros libero rutrum, leo suspendisse vulputate, eleifend risus arcu wisi vehicula dictumst, in odio sollicitudin dolor id vitae nibh. Lectus viverra amet viverra potenti magna sed, fringilla aenean iste et lectus, tincidunt ac fermentum sollicitudin ante, wisi nec lorem.</p>
        <h3>Smaller section headings are h3</h3>
        <img src="http://lorempixel.com/900/300/people" style="width:100%">
        <p class="image-caption">Captions are p with a class of "image-caption. Lorem ipsum dolor sit amet, pellentesque rutrum lectus nunc metus sed sed. Magna et, pede fringilla dolor, vel amet per est justo, vel porttitor nulla nec, urna posuere fusce a sed id lectus. " <span class="image-credit">Photographer Name :: Organization</span>
        </p>
        <p>Lorem ipsum dolor sit amet, pellentesque rutrum lectus nunc metus sed sed. Magna et, pede fringilla dolor, vel amet per est justo, vel porttitor nulla nec, urna posuere fusce a sed id lectus. Varius odio pede non lectus, ante turpis. <span class="block-quote">Block quotes are a span with class "block-quote." Eget nulla ligula wisi, consequat felis risus orci vestibulum maecenas nunc, nunc tincidunt vel. Felis curae nam eros libero rutrum, leo suspendisse vulputate, eleifend risus arcu wisi vehicula dictumst, in odio sollicitudin dolor id vitae nibh. <span class="quote-attribution">Lorem Ipsum</span></span>Lectus viverra amet viverra potenti magna sed, fringilla aenean iste et lectus, tincidunt ac fermentum sollicitudin ante, wisi nec lorem. Placerat tortor posuere dapibus magnis morbi, sed sit sed ut integer nec sed, ante metus mauris wisi lacinia pellentesque tristique.</p>
            <ul>
                <li>Parturient montes sit egestas mauris lacus</li>
                <li>Lacus placerat vestibulum erat sociosqu volutpat, id rutrum. Blandit velit</li>
                <li>Nulla ut lectus nibh pellentesque leo parturient, mauris mauris sollicitudin</li>
                <li>Sed luctus, pede vivamus nibh sollicitudin erat in nunc. Suscipit augue amet odio</li>
                <li>Imperdiet id pellentesque, nisl quis ut aliquet est scelerisque ullamcorper, maecenas aliquam</li>
        </ul>
        <p>Et lectus class, vel ultrices urna etiam vivamus, cras id purus fusce. Quam sollicitudin tortor eu ullamcorper in. Enim donec interdum sit quis orci, deserunt perspiciatis vivamus cras, odio ipsum convallis, et commodo in sit suspendisse scelerisque. Quam aenean. Malesuada proin mattis convallis, donec dignissim mauris vestibulum lorem, habitasse vehicula, diam integer vestibulum sodales integer gravida. Sit neque, dictum purus eleifend, hac lacus. Dictum nullam ac, sit sapien, consectetuer sed nibh velit quis lacus, ante in.</p>
        <h4>Here's an H4</h4>
        <p>Nunc mauris ut lobortis, scelerisque volutpat mi quo earum venenatis, dolor aliquam proin, in perspiciatis aenean tristique eget ridiculus et. Sed netus dolor nam, nunc sed auctor nec ultrices iaculis, erat velit elit nunc tincidunt diam, metus venenatis integer commodo amet sem diam, sed est bibendum nibh lorem dolor id. Magna metus, mollis donec arcu.</p>
        <h5>Here is an h5</h5><p>Sodales lacus adipiscing ac tempor vel, gravida lacus id nibh ut, at dapibus quis nisl integer sollicitudin, ligula odio non feugiat non pulvinar orci. Lacus nisl nonummy, sed est sodales orci in, suspendisse pellentesque. Venenatis risus feugiat nunc vulputate dignissim nulla, dolor sollicitudin mauris interdum eros occaecati, enim condimentum nec.</p>

</body>